SERVER_PORT=8081

DB_HOST=localhost
DB_PORT=3306
DB_NAME=skillbarter_db
DB_USER=root
DB_PASSWORD=root

JWT_SECRET=any_random_string_minimum_32_characters_long
JWT_EXPIRATION_MS=86400000

APP_SEED_DATA=true
